tmp/*
tmp/pids/*
!tmp/.keep
!tmp/pids/.keep
log/*
log
tmp
.git
.DS_Store
Dockerfile
docker-compose.yml
coverage/*
spec
coverage
test
spec/*
test/*
db/dump*
Procfile*
.bash_history
.env*
.fasterer*
.git*
.gems*
.irb_history
.*history*
.rspec
.rubocop*
.ruby*
README*
.overcommit*
.overmind*
